{% load static %} 
<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>choice</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/choice.css' %}"/>
    <script src="https://kit.fontawesome.com/2b070e02a1.js" crossorigin="anonymous"></script>       
<style>
    h1 {text-align: center;}
</style> 
</head>     
<body>
<form action=#' method='POST'>  
    <h1>choose</h1> 
    <div class="btn">buy</div>
    <div class="btn">sell</div>
</body>  
</html>