{% load static %} 
<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/welcome1.css' %}"/>
    <script src="https://kit.fontawesome.com/2b070e02a1.js" crossorigin="anonymous"></script>       
<style>
    h1 {text-align: center;}
    h2 {text-align: center;}
    div {text-align: center;}
</style> 
</head>     
<body>
<form action=#' method='POST'>  
    <h1>WELCOME!</h1> 
    <h2>Offer to buy, only if your bank can give it a try,
        Bid It To Win It. To Begin, Click On Enter
    </h2> 
    <div class="btn">Enter</div>
</body>  
</html>

